{% extends "layouts/base.html" %}



{% block title %}
{{title}}
{% endblock title %}


{% block content %}

<!-- WELCOME
	================================================== -->
<section id="welcome" class="section section_welcome" data-parallax="scroll">

    <!-- Content -->
    <div class="section_welcome__main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">

                    <!-- Heading -->
                    <h1
                        class="section__heading section_welcome__heading text-center">
                        Longfields
                    </h1>
                    <p
                        class="section__subheading section_welcome__subheading text-center text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Non illo, alias animi iusto neque, sint
                        corrupti? Laudantium, dignissimos id excepturi
                        facilis, facere saepe quasi placeat praesentium ipsa
                        sapiente illo molestiae?
                    </p>

                    <!-- Button -->
                    <div class="text-center">
                        <a href="#newsletter"
                            class="btn btn-primary text-white">
                            Solicita Cotización
                        </a>
                    </div>

                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </div>

    <!-- Footer -->
    <div class="section_welcome__footer">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-12">

                    <!-- Address -->
                    <div class="section_welcome__footer__address text-center">
                        <i class="fas fa-map-marker-alt"></i> Calle
                        Carretera de Galapagar 37, 1A. 28250, Torrelodones,
                        Madrid.
                    </div>

                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </div>

</section>

<!-- Company sections
    ================================================== -->
<section class="section">
    <div class="container">
        <!-- / .row -->
        <div class="row">
            <div class="col">

                <!-- Heading -->
                <h2 class="section__heading text-center">
                    Our Brands
                </h2>
                <p class="section__subheading text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ratione numquam eos perferendis itaque hic unde,
                    ad, laudantium minima.
                </p>

            </div>
        </div>
        <div class="row" id="brand-boxes">
            <div class="col-md-4 col-sm-12 col-12">
                <a class="d-block bg-white box-shadow-lg rounded-lg py-3 py-sm-4 mb-grid-gutter"
                    href="#">
                    <img class="d-block mx-auto"
                        sizes="(max-width: 1480px) 40vw, 1480px" srcset="
                            static/img/hereford/hereford_579.webp 579w,
                            static/img/hereford/hereford_768.webp 768w,
                            static/img/hereford/hereford_992.webp 992w,
                            static/img/hereford/hereford_1480.webp 1480w"
                        src="static/img/hereford/hereford.png"
                        style="max-width: 150px;" alt="hereford">
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-12"><a
                    class="d-block bg-white box-shadow-lg rounded-lg py-3 py-sm-4 mb-grid-gutter"
                    href="#">
                    <img class="d-block mx-auto"
                        sizes="(max-width: 1480px) 40vw, 1480px" srcset="
                            static/img/logo/logo_516.webp 516w,
                            static/img/logo/logo_767.webp 767w,
                            static/img/logo/logo_968.webp 968w,
                            static/img/logo/logo_1480.webp 1480w"
                        src="static/img/logo/logo.png" style="max-width: 150px;"
                        alt="logo"></a></div>
            <div class="col-md-4 col-sm-12 col-12"><a
                    class="d-block bg-white box-shadow-lg rounded-lg py-3 py-sm-4 mb-grid-gutter"
                    href="#"><img class="d-block mx-auto"
                        sizes="(max-width: 1480px) 40vw, 1480px" srcset="
                        static/img/angus/angus_535.webp 535w,
                        static/img/angus/angus_839.webp 839w,
                        static/img/angus/angus_1002.webp 1002w,
                        static/img/angus/angus_1480.webp 1480w"
                        src="static/img/angus/angus.png"
                        style="max-width: 150px;" alt="logo"></a></div>

        </div>
    </div>
</section>

<!-- GRASS FED
	================================================== -->
<section class="section section_discover">
    <div class="container">
        <div class="row">
            <div class="col-md-2 order-md-2 align-self-end">

                <!-- Description -->
                <p class="section_discover__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                </p>

            </div>
            <div class="col-md-4 order-md-3 align-self-start">

                <!-- Image -->
                <div class="section_discover__img alt">
                    <img class="img-fluid"
                        sizes="(max-width: 1480px) 40vw, 1480px"
                        srcset="
                        static/img/irish-lifestock/irish-lifestock_647.jpg 647w,
                        static/img/irish-lifestock/irish-lifestock_868.jpg 868w,
                        static/img/irish-lifestock/irish-lifestock_944.jpg 944w,
                        static/img/irish-lifestock/irish-lifestock_960.jpg 960w"
                        src="static/img/irish-lifestock/irish-lifestock.jpg"
                        alt="logo">
                </div>

            </div>
            <div class="col-md-6 order-md-1 align-self-center">

                <!-- Content -->
                <h2> 100% Irish lifestock</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ullam quae similique asperiores consequatur! Nihil
                    temporibus qui enim, ab voluptates corporis commodi eum
                    maxime. Accusamus voluptates a, et quidem! Quo, et?
                </p>

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>

<!-- DISCOVER
	================================================== -->
<section class="section section_discover section_no-padding_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-2 align-self-start">

                <!-- Description -->
                <p class="section_discover__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                </p>

            </div>
            <div class="col-md-4 align-self-start">

                <!-- Image -->
                <div class="section_discover__img">
                    <img class="img-fluid"
                        sizes="(max-width: 1480px) 40vw, 1480px"
                        srcset="
                        static/img/irish-lifestock/irish-lifestock_647.jpg 647w,
                        static/img/irish-lifestock/irish-lifestock_868.jpg 868w,
                        static/img/irish-lifestock/irish-lifestock_944.jpg 944w,
                        static/img/irish-lifestock/irish-lifestock_960.jpg 960w"
                        src="static/img/irish-lifestock/irish-lifestock.jpg"
                        alt="logo">
                </div>

            </div>
            <div class="col-md-6 align-self-center">

                <!-- Content -->
                <h2><em>Grass fed</em> Beef and lamb</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Molestias veritatis nisi, consequatur, laborum
                    libero a neque ducimus. Porro rem illum quo nostrum
                    quisquam asperiores, blanditiis, consectetur. Possimus
                    facilis velit, voluptatibus!
                </p>

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>

<!-- GRASS FED
	================================================== -->
<section class="section section_discover">
    <div class="container">
        <div class="row">
            <div class="col-md-2 order-md-2 align-self-end">

                <!-- Description -->
                <p class="section_discover__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                </p>

            </div>
            <div class="col-md-4 order-md-3 align-self-start">

                <!-- Image -->
                <div class="section_discover__img alt">
                    <img class="img-fluid"
                        sizes="(max-width: 1480px) 40vw, 1480px"
                        srcset="
                        static/img/irish-lifestock/irish-lifestock_647.jpg 647w,
                        static/img/irish-lifestock/irish-lifestock_868.jpg 868w,
                        static/img/irish-lifestock/irish-lifestock_944.jpg 944w,
                        static/img/irish-lifestock/irish-lifestock_960.jpg 960w"
                        src="static/img/irish-lifestock/irish-lifestock.jpg"
                        alt="logo">
                </div>

            </div>
            <div class="col-md-6 order-md-1 align-self-center">

                <!-- Content -->
                <h2> Traceability Assured</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ullam quae similique asperiores consequatur! Nihil
                    temporibus qui enim, ab voluptates corporis commodi eum
                    maxime. Accusamus voluptates a, et quidem! Quo, et?
                </p>

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>

<!-- BUYER / SUPPLIER 
    ================================================== -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Heading -->
                <h2 class="section__heading text-center">
                    Work With Us
                </h2>
                <p class="section__subheading text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ratione numquam eos perferendis itaque hic unde,
                    ad, laudantium minima.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-grid-gutter">
                <div
                    class="media d-block d-sm-flex justify-content-between align-items-center box-shadow-lg rounded-lg">
                    <div
                        class="media-body pt-5 py-sm-5 px-4 pl-md-5 pr-md-0 text-center text-sm-left">
                        <h2>Become a Buyer</h2>
                        <p class=" pb-2">Lorem ipsum dolor, sit
                            amet consectetur adipisicing elit. Cum,
                            consectetur.</p>
                        <a class="btn btn-primary btn-green text-white "
                            href="#">Start
                            buying</a>
                    </div>
                    <img class="d-block mx-auto mx-sm-0 "
                        sizes="(max-width: 1480px) 40vw, 1480px" srcset="
                    static/img/courier/courier_544.webp 544w,"
                        src="static/img/courier/courier_544.webp"
                        style="max-width: 250px;" alt="Become a Courier">

                </div>
            </div>
            <div class="col-lg-6 mb-grid-gutter">
                <div
                    class="media d-block d-sm-flex justify-content-between align-items-center box-shadow-lg rounded-lg">
                    <div
                        class="media-body pt-5 py-sm-5 px-4 pl-md-5 pr-md-0 text-center text-sm-left">
                        <h2>Become a Supplier</h2>
                        <p class=" pb-2">Lorem ipsum dolor sit
                            amet consectetur, adipisicing elit. Recusandae,
                            similique?</p><a
                            class="btn btn-primary btn-orange text-white "
                            href="#">Partner with
                            us</a>
                    </div><img class="d-block mx-auto mx-sm-0 "
                        sizes="(max-width: 1480px) 40vw, 1480px" srcset="
                static/img/chef/chef_538.webp 538w,"
                        src="static/img/chef/chef_538.webp"
                        style="max-width: 250px;" alt="Become a Buyer">
                </div>
            </div>
        </div>

    </div>
</section>


<!-- TRACEABILTY
	================================================== -->
<section class="section section_about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <!-- Description -->
                <p class="section_about__description text-white">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Totam placeat molestiae ab, consectetur.
                </p>

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>

<!-- Company sections
    ================================================== -->
<section class="section">
    <div class="container">
        <!-- / .row -->
        <div class="row">
            <div class="col">

                <!-- Heading -->
                <h2 class="section__heading text-center">
                    Companies That Trust Us
                </h2>
                <p class="section__subheading text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ratione numquam eos perferendis itaque hic unde,
                    ad, laudantium minima.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3"><a
                    class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter"
                    href="#"><img class="d-block mx-auto"
                        src="static/img/mercadona/mercadona_475.webp"
                        style="max-width: 150px;" alt="Brand"></a></div>
            <div class="col-sm-12 col-md-3 col-lg-3"><a
                    class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter"
                    href="#"><img class="d-block mx-auto"
                        src="static/img/makro/makro_902.webp"
                        style="max-width: 150px;" alt="Brand"></a></div>
            <div class="col-sm-12 col-md-3 col-lg-3"><a
                    class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter"
                    href="#"><img class="d-block mx-auto"
                        src="static/img/carrefour/carrefour_814.webp"
                        style="max-width: 150px;" alt="Brand"></a></div>
            <div class="col-sm-12 col-md-3 col-lg-3"><a
                    class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter"
                    href="#"><img class="d-block mx-auto"
                        src="static/img/dia/dia_867.webp"
                        style="max-width: 150px;" alt="Brand"></a></div>

        </div>
    </div>
</section>


{% include 'layouts/newsletter.html' %}


{% include 'layouts/maps.html' %}


{% endblock content %}