{% extends "layouts/base.html" %}



{% block title %}
Companies
{% endblock title %}


{% block content %}


<h3>Number of search results for "{{ search_term }}": {{ response.count }}
</h3>
<ul class="items">
    {% for product in response.data %}
    <li>
        <a href="/products/{{ product.id }}">
            <i class="fas fa-music"></i>
            <div class="item">
                <h5>{{ product.name }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}