<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Search product page</h1>
    {% block content %}
    <h3>Number of search results for "{{ search_term }}": {{ response.count }}
    </h3>
    <ul class="items">
        {% for product in response.data %}
        <li>
            <a href="/products/{{ product.id }}">
                <i class="fas fa-music"></i>
                <div class="item">
                    <h5>{{ product.name }}</h5>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>

</html>