<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Show product page</h1>

    {% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h1 class="monospace">
                product id and name: {{ product.id }} | {{ product.name}}
            </h1>
            <p class="subtitle">
                description: {{ product.product_description}}
            </p>
            <img src="../../{{product.image_link}}" alt="">
        </div>
    </div>
    {% endblock %}
</body>

</html>